<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999119847904-iuarmpq2hbcqek9kl46gtg3sfmhh1r32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999119847904-iuarmpq2hbcqek9kl46gtg3sfmhh1r32</string>
	<key>API_KEY</key>
	<string>AIzaSyBw9Qm0GrmrUu9CiFNNkt5qzhxKOVOIjD4</string>
	<key>GCM_SENDER_ID</key>
	<string>999119847904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryotaiwamoto.flutterDevopsSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-devops-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-devops-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999119847904:ios:ae99050f8f21126851ab85</string>
</dict>
</plist>